{* Latte template *}

{block content}
        
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#people" aria-expanded="false" aria-controls="people">
    Přidat člověka
  </button>

    <div {if $action== 'peopleForm-edit'}class='collapse in'{else}class='collapse'{/if} id="people">

 {control peopleForm}
</div>
{control people}